body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

main {
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-image: url(falsaTimida.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

img {
    width: 2rem;
    height: 2rem;
}

.logo {
    width: 10rem;
    height: 10rem;
    border: 3px solid white;
    border-radius: 1rem;
}

@keyframes pulsar {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
    }
}

.Link {
    animation: pulsar 1s infinite ease-in-out;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background: rgba(128, 128, 128, 0.597);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80vw;
    color: white;
    border-radius: 1rem;
    gap: 1rem;
    cursor: pointer;
}

.Body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.Link:hover {
    color: black;
}

p {
    background: white;
    color: black;
    padding: .5rem;
    font-size: 1rem;
}

@media (min-width: 900px) {
    main {
        background: black;
    }
}