body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* height: 100%; */
}
main {
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-image: url(./images/falsaTimida.jpg);
    background-repeat: no-repeat; /* Evita a repeti\u00e7\u00e3o da imagem */
  background-position: center; /* Centraliza a imagem no elemento */
  background-size: cover; /* Faz com que a imagem cubra todo o elemento */
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

img {
    width: 2rem;
    height: 2rem;
}
.logo {
    width: 10rem;
    height: 8rem;
    border: 1px solid white;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 5px rgb(86, 86, 86);
}

@keyframes pulsar {
    0% {
      transform: scale(1); /* Estado inicial da animação */
    }
    50% {
      transform: scale(1.03); /* Amplia ligeiramente o elemento no meio da animação */
    }
    100% {
      transform: scale(1); /* Retorna ao estado inicial */
    }
  }

.Link {
    animation: pulsar 1s infinite ease-in-out; 

    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    
    background: rgba(255, 255, 255, 0.597);
    width: 80vw;
    border-radius: 1rem;
    gap: 1rem;
    cursor: pointer;
}

.Body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;


}
.Link:hover {
    color: black;
}

p {
    background: white;
    color: black;
    padding: .5rem;
    font-size: 1rem;
}

@media (min-width: 900px) {
    main {
        background: black;
    }
}

.aviso {
    background: rgba(255, 255, 255, 0.597);
    color: black;
    padding: .5rem;
    border-radius: .5rem;
}
/* 
footer {
    position: absolute;
    bottom: 0;
} */

.top {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
